@mixin flexbox($flex-wrap: wrap) {
    display: flex;
    flex-wrap: $flex-wrap;
}

@mixin flex-align($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin menu-list {
    background-color: #fff;
    text-transform: uppercase;

    .menu-item {
        display: inline-block;
        margin: 0 20px;
        font-size: initial;
        line-height: 1.5;

        a {
            color: $secondary-color;
            font-weight: 600;
        }
    }
}