%btn {
    border-radius: 30px;
    display: inline-block;
    padding: 15px 35px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: #fff;
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;
    
    &:hover {
        background-color: $button-color;
    }
}

.btn-secondary {
    @extend %btn;
    background-color: $button-color;

    &:hover {
        background-color: $primary-color;
    }
}

.btn-form {
    @extend %btn;
    
    color: $secondary-color;
    font-weight: 600;
    margin: 40px auto 0;
    
    &:hover {
        color: #fff;
        background-color: $button-color;
        transition: all .3s;
    }

    @media all and (min-width: $large) {
        margin: 40px 0 0;
    }
}